In [51]:
import pandas as pd
import os
import numpy as np
from matplotlib import pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [3]:
file_0 = pd.read_csv("C:/Users/tanji/Desktop/safety/features/part-00000-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
file_1 = pd.read_csv("C:/Users/tanji/Desktop/safety/features/part-00001-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
file_2 = pd.read_csv("C:/Users/tanji/Desktop/safety/features/part-00002-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
file_3 = pd.read_csv("C:/Users/tanji/Desktop/safety/features/part-00003-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
file_4 = pd.read_csv("C:/Users/tanji/Desktop/safety/features/part-00004-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
file_5 = pd.read_csv("C:/Users/tanji/Desktop/safety/features/part-00005-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
file_6 = pd.read_csv("C:/Users/tanji/Desktop/safety/features/part-00006-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
file_7 = pd.read_csv("C:/Users/tanji/Desktop/safety/features/part-00007-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
file_8 = pd.read_csv("C:/Users/tanji/Desktop/safety/features/part-00008-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
file_9 = pd.read_csv("C:/Users/tanji/Desktop/safety/features/part-00009-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
labels_0 = pd.read_csv("C:/Users/tanji/Desktop/safety/labels/part-00000-e9445087-aa0a-433b-a7f6-7f4c19d78ad6-c000.csv")

In [19]:
#Removal of duplicated rows in labels dataframe
labels_0 = pd.read_csv("C:/Users/tanji/Desktop/safety/labels/part-00000-e9445087-aa0a-433b-a7f6-7f4c19d78ad6-c000.csv")
labels_0 = labels_0.groupby('bookingID', group_keys=True).apply(lambda x: x.loc[x.label.idxmax()])
labels_0 = labels_0.rename_axis(None)

In [5]:
frames = [file_0, file_1, file_2, file_3, file_4, file_5, file_6, file_7, file_8, file_9]
main_df = pd.concat(frames)

In [6]:
main_df.head()

,bookingID,Accuracy,Bearing,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,second,Speed
0,1202590843006,3.000,353.0,1.228867,8.900100,3.986968,0.008221,0.002269,-0.009966,1362.0,0.000000
1,274877907034,9.293,17.0,0.032775,8.659933,4.737300,0.024629,0.004028,-0.010858,257.0,0.190000
2,884763263056,3.000,189.0,1.139675,9.545974,1.951334,-0.006899,-0.015080,0.001122,973.0,0.667059
3,1073741824054,3.900,126.0,3.871543,10.386364,-0.136474,0.001344,-0.339601,-0.017956,902.0,7.913285
4,1056561954943,3.900,50.0,-0.112882,10.550960,-1.560110,0.130568,-0.061697,0.161530,820.0,20.419409

In [33]:
final_df = main_df.groupby('bookingID')
final_df = final_df['acceleration_x', 
                    'acceleration_y', 
                    'acceleration_z',
                    'gyro_x', 
                    'gyro_y',
                   'gyro_z'].agg([np.sum, np.mean, np.std])

In [34]:
final_df.columns = ['acceleration_x_sum',
                    'acceleration_x_mean',
                    'acceleration_x_std',
                    'acceleration_y_sum',
                    'acceleration_y_mean',
                    'acceleration_y_std',
                    'acceleration_z_sum',
                    'acceleration_z_mean',
                    'acceleration_z_std',
                    'gyro_x_sum',
                    'gyro_x_mean',
                    'gyro_x_std',
                    'gyro_y_sum',
                    'gyro_y_mean',
                    'gyro_y_std',
                    'gyro_z_sum',
                    'gyro_z_mean',
                    'gyro_z_std',
                   ]
final_df.head()

,acceleration_x_sum,acceleration_x_mean,acceleration_x_std,acceleration_y_sum,acceleration_y_mean,acceleration_y_std,acceleration_z_sum,acceleration_z_mean,acceleration_z_std,gyro_x_sum,gyro_x_mean,gyro_x_std,gyro_y_sum,gyro_y_mean,gyro_y_std,gyro_z_sum,gyro_z_mean,gyro_z_std
bookingID,,,,,,,,,,,,,,,,,,
0,-714.108606,-0.711264,0.928022,-9652.277441,-9.613822,0.639934,-1626.136658,-1.619658,1.141266,3.340816,0.003328,0.065954,-6.142259,-0.006118,0.100225,-4.204491,-0.004188,0.063685
1,-447.120797,-0.525406,0.744157,8111.805312,9.532086,0.533915,-1871.348183,-2.198999,0.854271,-2.099544,-0.002467,0.027740,-6.416598,-0.007540,0.091699,0.344877,0.000405,0.033838
2,59.823351,0.306786,0.756589,1919.420684,9.843183,0.505693,27.172626,0.139347,1.020021,1.259283,0.006458,0.053903,-2.507892,-0.012861,0.117321,0.506505,0.002597,0.036215
4,-399.438525,-0.365117,0.527220,-10290.643753,-9.406439,0.598023,-2859.321069,-2.613639,0.779529,-25.035151,-0.022884,0.042342,25.415907,0.023232,0.112567,-0.411573,-0.000376,0.065927
6,537.224988,0.490616,0.826271,10444.157133,9.538043,0.617210,2578.789598,2.355059,0.942163,4.245843,0.003877,0.055170,0.477217,0.000436,0.106815,3.207864,0.002930,0.057438

In [55]:
final_df = pd.merge(final_df, labels_0, on='bookingID', how='left')

In [58]:
final_df.head()

,bookingID,acceleration_x_sum,acceleration_x_mean,acceleration_x_std,acceleration_y_sum,acceleration_y_mean,acceleration_y_std,acceleration_z_sum,acceleration_z_mean,acceleration_z_std,gyro_x_sum,gyro_x_mean,gyro_x_std,gyro_y_sum,gyro_y_mean,gyro_y_std,gyro_z_sum,gyro_z_mean,gyro_z_std,label
0,0,-714.108606,-0.711264,0.928022,-9652.277441,-9.613822,0.639934,-1626.136658,-1.619658,1.141266,3.340816,0.003328,0.065954,-6.142259,-0.006118,0.100225,-4.204491,-0.004188,0.063685,0
1,1,-447.120797,-0.525406,0.744157,8111.805312,9.532086,0.533915,-1871.348183,-2.198999,0.854271,-2.099544,-0.002467,0.027740,-6.416598,-0.007540,0.091699,0.344877,0.000405,0.033838,1
2,2,59.823351,0.306786,0.756589,1919.420684,9.843183,0.505693,27.172626,0.139347,1.020021,1.259283,0.006458,0.053903,-2.507892,-0.012861,0.117321,0.506505,0.002597,0.036215,1
3,4,-399.438525,-0.365117,0.527220,-10290.643753,-9.406439,0.598023,-2859.321069,-2.613639,0.779529,-25.035151,-0.022884,0.042342,25.415907,0.023232,0.112567,-0.411573,-0.000376,0.065927,1
4,6,537.224988,0.490616,0.826271,10444.157133,9.538043,0.617210,2578.789598,2.355059,0.942163,4.245843,0.003877,0.055170,0.477217,0.000436,0.106815,3.207864,0.002930,0.057438,0

In [59]:
X = final_df.iloc[:,1:19].values
y = final_df.iloc[:,19].values

train_df_x, test_df_x, train_df_y, test_df_y = train_test_split(X, y,test_size=0.3)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [76]:
# Instantiate model with 1000 decision trees
rf = RandomForestClassifier(n_estimators = 10, random_state = 42 )

rf.fit(train_df_x, train_df_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
            oob_score=False, random_state=42, verbose=0, warm_start=False)

In [77]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_df_x)
predictions

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [78]:
print(confusion_matrix(test_df_y,predictions))  
print(classification_report(test_df_y,predictions))  
print(accuracy_score(test_df_y, predictions))

[[4377   84]
 [1314  225]]
              precision    recall  f1-score   support

           0       0.77      0.98      0.86      4461
           1       0.73      0.15      0.24      1539

   micro avg       0.77      0.77      0.77      6000
   macro avg       0.75      0.56      0.55      6000
weighted avg       0.76      0.77      0.70      6000

0.767

   bookingID  label
0          0      0
1          1      1
2          2      1
4          4      1
6          6      0